body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Светлый фон */
}

.login-container, .waiting-container {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: none; /* Скрываем контейнеры по умолчанию */
}

.waiting-container {
    display: none; /* Скрываем контейнер ожидания по умолчанию */
}
.question-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Широкий */
    height: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Чтобы окно было сверху */
    text-align: center;
    display: flex;
    flex-direction: column; /* Вертикальная ориентация */
    justify-content: space-between; /* Распределение пространства */
}

.question-title {
    background-color: #007bff; /* Голубой фон */
    color: white; /* Белый шрифт */
    padding: 10px; /* Отступы для заголовка */
    border-radius: 5px 5px 0 0; /* Закругленные верхние углы */
}

.question-input {
    margin-top: 10px; /* Отступ сверху */
    flex-grow: 1; /* Занять оставшееся пространство */
    text-align: center;
}

.question-container p{
text-align: left;
text-shadow: #007bff;
}

.timer-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 80px; /* Маленький */
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        color: black; /* Исходный цвет текста */
    }
    50% {
        transform: scale(1.1);
        color: red; /* Цвет текста при пульсации */
    }
}

.timer.pulsing {
    animation: pulse 0.5s infinite; /* Анимация пульсации */
}

.round-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Широкий */
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
}

.results-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.968);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Чтобы окошко было сверху */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.801);
}

.answer-row {
    background-color: #5141ff;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 25px 0;
    border-radius: 5px 5px 5px 5px; /* Закругленные верхние углы */
    color: aliceblue;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.result-icon {
    margin-left: 10px;
    font-size: 36px;
    padding-bottom: 10px;
}

.continue-button {
    position: absolute;
    bottom: 20px; /* Отступ от низа */
    right: 20px; /* Отступ от правого края */
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF; /* Цвет фона кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.continue-button:hover {
    background-color: #0056b3; /* Цвет при наведении */
}