body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Светлый фон */
}

.login-container, .waiting-container {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: none; /* Скрываем контейнеры по умолчанию */
}

.waiting-container {
    display: none; /* Скрываем контейнер ожидания по умолчанию */
}
